page-about {
    ion-navbar{
        width:100%;
        background: #eee;
        ion-searchbar{
            margin:3px 10px;
            width:auto;
            input{
                $searchbar-ios-input-height:	1rem !important;
                line-height: 20px !important;
            }
            
        }
    }
    ion-content{
        .navList{
            margin-top:-3px;
            li{
                float:left;
                width:20%;
                height:40px;
                
                text-align:center;
                line-height: 40px;
            }
            .first{
                background:#ffdb2c;
            }
        }
        .banner{
            width:100%;
            .top{
                float:left;
                width:100%;
                margin:10px auto 0 auto; 
                div{
                    margin-left:28%;
                    float:left;
                }        
            }
            .content-img{
                li{
                    margin-top:5px;
                    float:left;
                    width:46%;
                    margin-left:10px;
                    height:164px;
                }
            }
        }
    }
    
}
@font-face {
    font-family: 'iconfont';  /* project id 917198 */
    src: url('//at.alicdn.com/t/font_917198_as317chaet.eot');
    src: url('//at.alicdn.com/t/font_917198_as317chaet.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_917198_as317chaet.woff') format('woff'),
    url('//at.alicdn.com/t/font_917198_as317chaet.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_917198_as317chaet.svg#iconfont') format('svg');
  }
  .iconfont{
      float:left;
      margin-left:60px;
    font-weight: 50;
    font-family:"iconfont" !important;
    font-size:20px !important;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;}
