
<div id="right">
  <div class="nav">
    <ul>
      <li *ngFor="let courses of renwu">
        <img src="{{courses.images}}" id="img1">
        <h3><a>{{courses.courseName}}</a></h3>
        <h6>{{courses.information}}</h6>
        <div id="nav1">
          <span><img src="../../../assets/img/图标1.png"><a>{{courses.task}}</a></span>
          <span><img src="../../../assets/img/图标2.png"><a>{{courses.person}}</a></span>
        </div>
        <img src="../../../assets/img/img1.png" id="img2">
      </li>
    </ul>
  </div>
  
</div>  