#nav li{
    width: 600px;
    line-height: 40px;
    border:1px solid #ddd;
    padding-left:10px;
}
#nav ul{
    margin-top:30px;
    
}
li a{
    font-weight: bold;
    float: left;
}
span a{
    border:1px solid #eee;
    float: left;
    width:600px;
    margin-left:-11px;
    padding-left:10px;
    background: #eee;
    line-height: 40px;
}
img{
    float: left;
    margin-top:10px;
    margin-left:4px;
}
